/* # Imports
================================================== */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css");
/* # Global Variables
================================================== */
/* # Font settings
================================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
/* # Color Variables
================================================== */
/* # Global Styles
================================================== */
::selection {
  background: #fdf4d7;
}

body {
  color: #203d55;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  background: url(../img/bg_hero.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}
body h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: -0.5px;
}
@media screen and (max-width: 500px) {
  body h1 {
    font-size: 32px;
  }
}
body h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
}
@media screen and (max-width: 500px) {
  body h2 {
    font-size: 16px;
  }
}
body h3 {
  display: block;
  font-size: 20px;
  font-weight: 800;
  padding: 8px 0 0 0;
}
body h4 {
  color: #8895a7;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
}
body p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #506690;
}
body strong {
  font-weight: 800;
}
body a {
  color: #203d55;
  font-weight: 800;
}
body a:hover {
  cursor: pointer;
  border-bottom: 3px solid #203d55;
}

.label {
  background: #f5f7fa;
  padding: 0 12px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
}
.label .label_name {
  text-transform: uppercase;
  color: #2368a2;
  letter-spacing: 0.01em;
  font-size: 14px;
  font-weight: 700;
}

a {
  color: #3183c8;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
a .recent_cta span {
  display: inline-flex;
  align-items: center;
  width: 24px;
  height: 16px;
  margin-left: 8px;
  color: #e03f7f;
}

.section-wrapper {
  background: #fff;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
section h1 {
  text-align: center;
  max-width: 900px;
  margin: 40px auto 24px;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 0 80px 0;
  padding-top: 24px;
}
@media screen and (max-width: 1400px) {
  .container {
    margin: 0 32px 64px 32px;
  }
}

.leadin {
  max-width: 800px;
  margin: 0 auto 40px;
}

a.button,
button {
  display: inline-block;
  border-radius: 6px;
  border: 3px solid;
  margin: 16px 0 0 0;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  transition: all 150ms ease-out;
  cursor: pointer;
}
a.button.dark,
button.dark {
  border-color: #203d55;
  color: #203d55;
}
a.button.light,
button.light {
  background: white;
  border-color: white;
  color: #203d55;
}

a.current-role {
  cursor: pointer;
  font-weight: 700;
  color: #e41421 !important;
  text-decoration: none;
}
a.current-role:hover {
  text-decoration: underline;
}

/* # Contact CTA Styles
================================================== */
section.contact::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  height: 60px;
  width: 100%;
  background: url(../img/vector_contact.svg);
}

section.contact {
  position: relative;
  background: #FBE8E8;
}
section.contact .container {
  display: flex;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px -8px, rgba(0, 0, 0, 0.1) 0px -4px 24px -4px;
  padding: 32px;
  border-radius: 32px;
  margin: 24px 32px 64px;
}
section.contact .container .image {
  margin: 24px;
}
@media screen and (max-width: 600px) {
  section.contact .container {
    flex-wrap: wrap;
  }
  section.contact .container .content, section.contact .container .image {
    width: 150%;
  }
  section.contact .container .image {
    order: -1;
    text-align: center;
    margin-top: 0;
  }
}

#contact input[type=text], #contact input[type=email], #contact input[type=url], #contact textarea, #contact button[type=submit] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
  border-radius: 8px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 16px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type=text], #contact input[type=email], #contact input[type=tel], #contact input[type=url], #contact textarea {
  border: 4px solid transparent;
  background: #f8f9fa;
  margin: 0 0 5px;
  padding: 16px;
  font-size: 16px;
  color: #212a34;
  font-weight: 600;
  width: -webkit-calc(100% - 32px);
  width: -moz-calc(100% - 32px);
  width: calc(100% - 32px);
}

#contact input[type=text]:hover, #contact input[type=email]:hover, #contact input[type=tel]:hover, #contact input[type=url]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 4px solid #ABD4F5;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type=submit] {
  margin: 16px 0 0 0;
  padding: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  transition: all 150ms ease-out;
}

#contact button[type=submit]:hover {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 4px solid #ABD4F5;
}

::-webkit-input-placeholder {
  color: #b8c4cf;
}

:-moz-placeholder {
  color: #b8c4cf;
}

::-moz-placeholder {
  color: #b8c4cf;
}

:-ms-input-placeholder {
  color: #b8c4cf;
}

/* # Header Styles
================================================== */
header {
  width: 100%;
  position: fixed;
  background: #203d55;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px -8px, rgba(0, 0, 0, 0.1) 0px -4px 24px -4px;
  z-index: 9;
}
header .header-container {
  display: flex;
  align-content: center;
  padding: 16px 0;
  max-width: 1400px;
  margin: auto;
}
@media screen and (max-width: 1400px) {
  header .header-container {
    padding: 16px 32px;
  }
}
header .header-container:hover .header-left,
header .header-container:hover .header-right {
  opacity: 1;
}
header .header-container .header-left,
header .header-container .header-right {
  position: relative;
  flex-grow: 1;
  opacity: 0.5;
  transition: opacity 150ms ease-out;
}
header .header-container .header-left {
  display: flex;
}
header .header-container .header-left a:hover {
  opacity: 1;
  border: 0;
}
header .header-container .header-left .avatar {
  border-radius: 50%;
  height: 24px;
  margin-right: 8px;
}
header .header-container .header-left .logo {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.01em;
  margin-top: 8px;
}
@media screen and (max-width: 400px) {
  header .header-container .mobile_hide {
    display: none;
  }
}
header .header-container .header-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
header .header-container .header-right a {
  display: flex;
}
header .header-container .header-right a:hover {
  opacity: 1;
  border: 0;
}
header .header-container .header-right .icon {
  width: 23px;
  margin-left: 24px;
}

/* # Intro Hero Styles
================================================== */
section.intro {
  background: #4baea3;
  background: rgba(75, 174, 163, 0.9);
  padding: 48px 0 0 0;
  color: white;
}
section.intro .container {
  margin-top: 32px;
  margin-bottom: 120px;
}
@media screen and (min-width: 1400px) {
  section.intro .container {
    min-height: 50vh;
  }
}
@media screen and (max-width: 768px) {
  section.intro .container {
    margin-top: 0;
    margin-bottom: 80px;
  }
}
section.intro .container h1 {
  max-width: 1400px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  section.intro .container h1 {
    font-size: 24px;
    line-height: 36px;
  }
}
@media screen and (min-width: 1400px) {
  section.intro .container h1 {
    line-height: 52px;
  }
}
section.intro .container h1 .strong {
  font-weight: 800;
}
section.intro .container h2 {
  margin: 0 0 24px 0;
  color: white;
  opacity: 0.6;
}
section.intro .container p {
  color: white;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  opacity: 0.9;
}
@media screen and (max-width: 768px) {
  section.intro .container p {
    font-size: 20px;
    line-height: 32px;
  }
}
section.intro .container .button {
  display: inline-block;
  vertical-align: middle;
  color: white;
  border: 3px solid white;
  padding: 16px 24px;
  border-radius: 4px;
  font-size: 16px;
  margin: 32px 16px 0 0;
}
section.intro .container .button.tertiary {
  border: 0;
  padding: 16px 0;
}

/* # Recent Work Styles
================================================== */
section.recent::before {
  content: "";
  position: absolute;
  top: -60px;
  height: 60px;
  width: 100%;
  background: url(../img/vector_recent.svg);
}

section.recent {
  position: relative;
}
section.recent h1 {
  color: #3183c8;
}
section.recent .workcontainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px 0 32px 0;
  padding: 20vh 64px;
  border-radius: 32px;
}
section.recent .workcontainer:first-child {
  margin-top: 0px;
}
section.recent .workcontainer .workcolumns.image {
  position: relative;
}
section.recent .workcontainer .workcolumns.image .perspective {
  position: absolute;
  background: #fff;
  border-radius: 32px;
  padding: 64px;
  right: 0;
  top: 50%;
  box-shadow: -20px 20px 120px -20px rgba(0, 0, 0, 0.1);
  transform: translateY(-50%) translateX(40%) rotate(-10deg) skewX(10deg) scaleY(0.7) scaleX(1.1);
}
section.recent .workcontainer:nth-child(odd) .workcolumns.image {
  order: -1;
}
section.recent .workcontainer:nth-child(odd) .workcolumns.image .perspective {
  left: 0;
  transform: translateY(-50%) translateX(-40%) rotate(10deg) skewX(-10deg) scaleY(0.7) scaleX(1.1);
}
section.recent .workcontainer a {
  background: #2368a2;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  margin-top: 32px;
}
section.recent .workcontainer .workcolumns.description {
  max-width: 500px;
  padding-right: 64px;
}
section.recent .workcontainer .workcolumns {
  flex-basis: 100%;
}
@media screen and (min-width: 600px) {
  section.recent .workcontainer .workcolumns {
    flex-basis: 50%;
  }
}
section.recent .workcontainer .workcolumns img,
section.recent .workcontainer .workcolumns .video {
  display: flex;
  border-radius: 16px;
  max-width: 100%;
}
section.recent .workcontainer .workcolumns .video {
  display: flex;
  background: #eff8fe;
  padding: 32px;
  align-items: center;
}
section.recent .workcontainer .workcolumns .video video {
  max-height: 450px;
  width: 100%;
  margin: auto;
}
section.recent .workcontainer .workcolumns .secondary_images {
  display: flex;
  flex-wrap: no-wrap;
}
section.recent .workcontainer .workcolumns .secondary_images .image {
  flex-shrink: 1;
  max-width: 50%;
  margin-top: 16px;
}
section.recent .workcontainer .workcolumns .secondary_images .image:nth-child(odd) {
  margin-right: 16px;
}
section.recent .workcontainer h4 {
  text-transform: uppercase;
  margin-bottom: 0;
}
section.recent .workcontainer h2 {
  font-size: 26px;
  line-height: 32px;
  padding-right: 32px;
  margin-top: 16px;
}
section.recent .workcontainer .description p {
  padding-right: 32px;
}
@media screen and (max-width: 600px) {
  section.recent .workcontainer .description p {
    padding-right: 0;
  }
}

/* # Brands I have Worked With
================================================== */
section.worked-with::before {
  content: "";
  position: absolute;
  top: -32px;
  height: 32px;
  width: 100%;
  background: url(../img/vector_worked.svg);
}

section.worked-with {
  position: relative;
  background: #e3fded;
}
section.worked-with h1 {
  color: #479e59;
}
section.worked-with .brand-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 64px;
}
section.worked-with .brand-list .brand {
  flex-grow: 1;
  flex: 0 0 auto;
  padding: 16px;
}
section.worked-with .brand-list .brand img {
  width: 96px;
}

/* # Testimonials
================================================== */
section.recommendations::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  height: 60px;
  width: 100%;
  background: url(../img/vector_testmonials.svg);
}

section.recommendations {
  position: relative;
  background: #fffdf4;
  position: relative;
}
section.recommendations h1 {
  color: #f4ca64;
}
section.recommendations .testimonials {
  display: flex;
  flex-wrap: wrap;
}
section.recommendations .testimonials .testimonial {
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
  margin: 0 0 32px 0;
}
@media screen and (min-width: 768px) {
  section.recommendations .testimonials .testimonial {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 16px;
  }
}
section.recommendations .testimonials .testimonial a:hover {
  text-decoration: none;
  border-bottom: 0;
}
section.recommendations .testimonials .testimonial a .avatar {
  position: relative;
  display: inline-block;
  width: 88px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #dddddd;
  border: 4px solid #434a54;
  transition: border-color 0.2s ease-in-out;
}

.name {
  font-style: normal;
}
.name .avatar {
  position: relative;
  display: inline-block;
  width: 160px;
  margin-bottom: 12px;
  border-radius: 50%;
  box-sizing: border-box;
}
.name .author {
  display: block;
  font-size: 20px;
  font-weight: 800;
  padding: 8px 0 0 0;
}
.name .position {
  color: #8895a7;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}

/* # My Value
================================================== */
section.my-value {
  background-color: #f3f0ff;
}
section.my-value .values_row {
  display: flex;
  flex-wrap: wrap;
}
section.my-value .values_row .value-container {
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  section.my-value .values_row .value-container {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 16px;
  }
}
section.my-value .values_row .value-container .image_value {
  position: relative;
  display: inline-block;
  width: 120px;
  box-sizing: border-box;
}

/* # Footer Styles
================================================== */
section.footer::before {
  content: "";
  position: absolute;
  top: -32px;
  height: 32px;
  width: 100%;
  background: url(../img/vector_footer.svg);
}

section.footer {
  position: relative;
  background: #203d55;
  color: white;
  height: 100%;
}
section.footer .container {
  text-align: center;
  padding: 24px 0;
  margin-bottom: 0;
}
section.footer .container p {
  color: white;
  font-size: 16px;
  text-align: center;
}
section.footer .container a {
  color: white;
  font-weight: 800;
  text-decoration: none;
}
section.footer .container a:hover {
  border-bottom: 3px solid white;
}
section.footer .container .links {
  margin-bottom: 32px;
}
section.footer .container .links .footerlink {
  margin: 16px 16px 0 16px;
}
@media screen and (max-width: 600px) {
  section.footer .container .links .footerlink {
    display: block;
  }
}

section.thanks {
  position: relative;
  height: 100vh;
  height: -webkit-calc(100vh - 132px);
  height: -moz-calc(100vh - 132px);
  height: calc(100vh - 132px);
  text-align: center;
}
section.thanks h1 {
  color: #3183c8;
}

@keyframes bouncey {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes swipey {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
