 /* # Global Styles
================================================== */

body {
    color: $eggplant;
    font-family: $family;
    font-weight: $light;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    background: url(../img/bg_hero.jpg) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
  h1 {   
    font-size: $unit*10;
    line-height: $unit*10; 
    font-weight: $semibold;
    margin-bottom: $unit * 1;
    letter-spacing: -1.5px;
  }
  h2 {
    margin: 0;
    font-size: $unit*5;
    font-weight: $semibold;
  }
  h4 {
    color: $Medium-Gray;
    display: block;
    font-size: $unit*4;
    line-height: 1.5;
    font-weight: $normal;
    }
  
  p {
    font-size: $unit*4.5;
    line-height: $unit*7;
    font-weight: $light;
  }
  a {
    color: $eggplant;
    font-weight: $semibold;
    }
  a:hover {
    color: $Blue-Jeans;
    cursor: pointer;
    }
  .divider {
    margin: 24px 0;
  }
  .swipe {
    display: block;
    font-size: 36px;
    animation: swipey 1.6s linear infinite;
  }
  
}

// Section styles

section {
  min-height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: $max-width;
  width: 100%;
  margin: 0 $unit*8 $unit*16 $unit*8;
  // margin-left: auto;
  // margin-right: auto;
  a.scroll {
    display: block;
    font-size: $unit*8;
    transition: (ease 1s);
    animation: bouncey 1.6s linear infinite;
    text-decoration: none;
  }
}

// Button styles

button {
  border-radius: 6px;
  border: 3px solid;
  margin: 0 auto;
  padding: $unit*4;
  text-align: center;
  text-decoration: none;
  background: transparent;
  font-family: $family;
  font-size: $unit*4;
  font-weight: $semibold;
  transition: all 150ms ease-out;
  cursor: pointer;
  &.dark {
  border-color: $eggplant;
  color: $eggplant;
  &:hover {
    color: white;
    background: $eggplant;
  }
  }
  &.light {
  background: white;
  border-color: white;
  color: $eggplant;
  }
  &.full {
  width: 100%;
  }
  
}

a.current-role {
  cursor: pointer;
  font-weight: $normal;
  color: $current-role !important;
  text-decoration: none;
  &:hover {
  text-decoration: underline;
  }
}

// Swiper styles

// .swiper-container {
//     width: 100%;
//     height: 100%;
//     .swiper-slide {
//       text-align: center;
//       font-size: 18px;
//       background: transparent;
//       display: flex;
//     }
//   .swiper-pagination-bullet {
//     background: $eggplant;
//   }
//   .swiper-pagination-bullet-active {
//     background: $eggplant;
//   }
//   .swiper-button-next, .swiper-button-prev {
//     display: none;
//     width: 62px;
//     height: 62px;
//     background-size: auto;
//   }
// .swiper-button-next {
//   background-image: url("data:image/svg+xml;utf8,<svg width='41' height='41' xmlns='http://www.w3.org/2000/svg'><path d='M21.772 30.595a.87.87 0 0 1 0-1.23l8.08-8.081H9.344a.869.869 0 1 1 0-1.74h20.508l-8.08-8.08a.87.87 0 0 1 1.23-1.229l9.565 9.565a.874.874 0 0 1 0 1.23l-9.565 9.565a.87.87 0 0 1-1.23 0m18.877-10.18c0-11.029-8.973-20-20-20-11.03 0-20 8.971-20 20s8.97 20 20 20c11.027 0 20-8.971 20-20' fill='#FFF' fill-rule='evenodd'/></svg>");
//   background-repeat: no-repeat
//   }
//   .swiper-button-prev {
//   background-image: url("data:image/svg+xml;utf8,<svg width='41' height='41' xmlns='http://www.w3.org/2000/svg'><path d='M19.525 10.233a.867.867 0 0 1 0 1.23l-8.08 8.082h20.508a.869.869 0 1 1 0 1.74l-20.508-.001 8.08 8.08a.87.87 0 0 1-1.23 1.23L8.73 21.027a.874.874 0 0 1 0-1.23l9.565-9.565a.87.87 0 0 1 1.23 0M.65 20.414c0 11.028 8.972 20 20 20 11.03 0 20-8.972 20-20 0-11.03-8.97-20-20-20-11.028 0-20 8.97-20 20' fill='#FFF' fill-rule='evenodd'/></svg>");
//   background-repeat: no-repeat
//   }
// }