 
$hamburger-padding-x           : 8px !default;
$hamburger-padding-y           : 8px !default;
$hamburger-layer-width         : 40px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : #fff !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : white;

@import 'hamburgers/hamburgers';

 /* # Header Styles
================================================== */

header {
  width: 100%;
  position: fixed;
  background: $primary-70;
  box-shadow: $shadow;
  z-index: 9;

  .header-container {
    display: flex;
    align-content: center;
    padding: 16px 0;
    max-width: $max-width;
    margin: auto;

    @media screen and (max-width: $max-width) {
      padding: 16px $unit*8;
    }

    .header-left,.header-right {
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      flex-grow: 1;
      // transition: opacity 150ms ease-out; 
    }
    .header-left {

      a {
        transition: opacity 300ms ease-out;

        &:hover { 
          opacity: 0.7;
          border: 0;
        }
      }

      .avatar {
        border-radius:50%;
        height: 24px;
        margin-right: 8px;
      }

      .logo {
        font-family: $family;
        font-weight: $normal;
        font-size: $unit*5;
        text-transform: uppercase;
        color: white;
        letter-spacing: 0.01em;  
        margin-top: $unit*2;
        }
      }
      .mobile_hide {
        @media screen and (max-width: 400px) {
          display: none;
        }
    }
    .header-right {
      justify-content: flex-end;
      a {
        display: flex;
        &:hover {
          opacity: 1;
          border: 0;
        }
      }
      .icon {
        width: 23px;
        margin-left: $unit*6;
      }
    }
  }
}