
/* # Imports
================================================== */

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css');
@import 'variables';
@import 'global';



  /* # Local Styles
================================================== */

header {
  width: 100%;
  position: fixed;
  background: $primary-70;
  box-shadow: $shadow;
  z-index: 9;

  .header-container {
    display: flex;
    align-content: center;
    padding: 16px 0;
    max-width: $max-width;
    margin: auto;

    @media screen and (max-width: $max-width) {
      padding: 16px $unit*8;
    }
    &:hover {
        .header-left,.header-right {
          opacity: 1;
        }
    }


    .header-left,.header-right {
      position: relative;
      flex-grow: 1;
      opacity: 0.5;
      transition: opacity 150ms ease-out; 
    }
    .header-left {
      .logo {
        font-family: $family;
        font-weight: $normal;
        font-size: $unit*5;
        text-transform: uppercase;
        color: white;
        letter-spacing: 0.01em;  
        margin-top: $unit*2;
      }
    }
    .header-right {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      a {
        display: flex;
        &:hover {
          opacity: 1;
          border: 0;
        }
      }
      .icon {
        width: 23px;
        margin-left: $unit*4;
      }
      // .resume {
      //   width: 92px;
      //   border-color: white;
      //   color: white;
      //   padding: $unit*1 0;
      //   text-decoration: none;
      //   background: transparent;
      //   font-family: $family;
      //   font-size: $unit*4;
      //   font-weight: $normal;
      //   margin: 0;
      //   text-align: center;
      // }
    }
  }
}

/* # Intro Hero Styles
================================================== */

section.intro {
  min-height: 85vh;
  background: $primary-70;
  background: rgba(32, 61, 85, 0.9);
  padding: 48px 0 0 0;
  color: white;

  .container {
    margin: $unit*16 $unit*8;
    
    h1 {
      font-size: $unit*12 ;
      line-height: $unit*14;
      font-weight: $semibold;
      text-align: left;
      margin: 0;
    }

    h2 {
      margin: 0;
      color: $neutral-50;
    }
    p {
      color: white;
      font-size: $unit*6;
      line-height: $unit*9;
      margin:0;
      a {
        color: white;
        font-weight: $semibold;
      }
    }
    .button {
      display: inline-block;
      vertical-align: middle;
      color: white;
      border: 3px solid white;
      padding: $unit*4 $unit*6;
      border-radius: $unit;
      font-size: $unit*4;
      margin: $unit*8 $unit*4 0 0;
      &.tertiary {
        border: 0;
        padding: 16px 0;
      }
    }
  }
}

/* # Recent Work Styles
================================================== */

section.recent::before {
  content: "";
  position: absolute;
  top: -60px;
  height: 60px;
  width: 100%;
  background: url(../img/vector_recent.svg);
  // outline: 1px solid red;
}

section.recent {
  position: relative;

  h1 {
    color: #3183C8;
  }
  .workcontainer {
    background: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 0 $unit*8 0;
    padding: 32px;
    border-radius: 32px;
    box-shadow: $shadow;

    &:first-child {
      margin-top: 0px;
    }

    .workcolumns {
      flex-basis: 100%;

      @media screen and (min-width: 600px) {
        flex-basis: 50%;
      }
      img, .video {
        display: flex;
        border-radius: 16px;
        max-width: 100%;
      }
      .video {
        display: flex;
        background: #EFF8FE;
        padding: 32px;
        align-items:center;
        video {
          max-height: 450px;
          width: 100%;
          margin: auto;

        }
      }
      .secondary_images {
        display: flex;
        flex-wrap: no-wrap;
        .image {
          flex-shrink:1;
          max-width: 50%;
          margin-top: $unit*4;  
          &:nth-child(odd) {
            margin-right: $unit*4;
          }     
        }

      }
    }
    h4 {
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h2 {
      font-size: $unit*6.5;
      line-height: $unit*8;
      padding-right: $unit*8;
      margin-top: $unit*4;
    }
    .description {
      p {
        padding-right: $unit*8;
        @media screen and (max-width: 600px) {
          padding-right: 0;
        }
      }
    }
  }
}

/* # Brands I have Worked With 
================================================== */

section.worked-with::before {
  content: "";
  position: absolute;
  top: -32px;
  height: 32px;
  width: 100%;
  background: url(../img/vector_worked.svg);
  // outline: 1px solid red;
}

section.worked-with {
  position:relative;
  background: #E3FDED;
  h1 {
    color: #479E59;
  }
  .brand-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 64px;

    .brand {
      flex-grow: 1;
      flex: 0 0 auto;
      padding: $unit*4;
      img {
        width: 96px;
      }
    }
  }
}

/* # Testimonials 
================================================== */

section.recommendations::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  height: 60px;
  width: 100%;
  background: url(../img/vector_testmonials.svg);
  // outline: 1px solid red;
}

section.recommendations {
  h1 {
    color: #F4CA64;
  }

  position: relative;
  background: #FFFDF4;
  position: relative;
  .testimonials {
    display: flex;
    flex-wrap: wrap;

    .testimonial {
      background: white;
      width: 100%;
      padding: 32px;
      border-radius: 32px;
      box-shadow: $shadow;
      margin: 0 0 $unit*8 0;
      
      @media screen and (min-width: 900px) {
        // min-width: 40%;
        &:nth-child(even) {
            // margin-right: 0;
          } 
      }

      .quote {
      // background-image: url(../img/quote.svg);
      // background-position: 0 0;
      // background-repeat: no-repeat;
      }
      .avatar {
        display: block;
        width: $unit*22;
        margin-bottom: $unit*3;
        border-radius: 50%;
        box-sizing: border-box;
        background-color: #dddddd;
        border: 4px solid $Dark-Gray;
      }
      .name {
        font-style: normal;
        .author {
          display: block;
          font-size: $unit*5;
          font-weight: $semibold;
          padding: 8px 0 0 0;
        }
        .position {
          color: $neutral-50;
          display: block;
          font-size: $unit*4;
          line-height: 1.5;
          font-weight: $light;
        }
      }
    }
  }
}

/* # Contact CTA Styles
================================================== */



section.contact {
  background: #FFFDF4;


  .container {
    display: flex;
    background: white;
    box-shadow: $shadow; 
    padding: $unit*8;
    border-radius: $unit*8;
    margin: $unit*6 $unit*8 $unit*16;

    .image {
      margin: $unit*6;
    }

    @media screen and (max-width: 600px) {
      flex-wrap: wrap;
      .content, .image {
        width: 150%
      }
      .image {
        order: -1;
        text-align: center;
        margin-top: 0;
      }
    }
  }
}


section.footer::before {
  content: "";
  position: absolute;
  top: -32px;
  height: 32px;
  width: 100%;
  background: url(../img/vector_footer.svg);
  // outline: 1px solid red;
}

section.footer {
  position:relative;
  background: $primary-70;
  color: white;
  height: 100%;

  .container {
    text-align: center;
    padding: $unit*6 0;
    // margin-bottom: 0;

    p {
      font-size: $unit * 4;
      text-align: center;
    }
    a {
      color: white;
      font-weight: $semibold;
      text-decoration: none;
      &:hover {
        border-bottom: 3px solid white;
      }
    }
    .links {
      margin-bottom: $unit*8;
      .footerlink {
        margin: $unit*4 $unit*4 0 $unit*4;
        @media screen and (max-width: 600px) {
          display: block;
        }
      }
    }
    
  }
}



// Tablet
@media screen and (min-width: 600px) {
}

// Desktop
@media screen and (min-width: 1000px) {
 
}



@keyframes bouncey {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes swipey {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}
      


