/* # Global Design Unit
================================================== */
$unit: 4px;
$max-width: 940px;
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);

/* # Font settings
================================================== */

// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
// $family: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
$family: 'Open Sans', sans-serif;

$light: 600;
$normal: 700;
$semibold: 800;

/* # Color Variables
================================================== */

// Neutral Colours 
$Light-Gray:  #F5F7FA; //#E6E9ED
$Medium-Gray: #AAB2BD; //#CCD1D9
$Dark-Gray:   #434A54; //#656D78

$eggplant:    #203D55; //prev #40354E

// Accent Colours 
$Grapefruit:  #ED5565; //#DA4453 USED
$Bittersweet: #FC6E51; //#E9573F 
$Sunflower:   #FFCE54; //#F6BB42 USED
$Grass:       #A0D468; //#8CC152 USED
$Mint:        #48CFAD; //#37BC9B USED
$Aqua:        #4FC1E9; //#3BAFDA USED
$Blue-Jeans:  #5D9CEC; //#4A89DC
$Lavender:    #AC92EC; //#967ADC
$Pink-Rose:   #EC87C0; //#D770AD

// Social Colours 
$behance:     #053eff;     
$dribbble:    #ea4c89;
$linkedin:    #007bb5;
$github:      #4078c0;
$medium:      #02b875;
$instagram:   #c32aa3;
$foursquare:  #FA4778;
$spotify:     #1ed760;
$twitter:     #1da1f2;
$pinterest:   #bd081c;
$current-role:   #E41421;