/* # Global Variables
================================================== */
$unit: 4px;
$max-width: 1024px;
$tablet-width: 768px;
$mobile-tablet: 575px;
$mobile-width: 480px;
$shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.1);

/* # Font settings
================================================== */

// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
// $family: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
$family: 'Open Sans', sans-serif;

$light: 600;
$normal: 700;
$semibold: 800;

/* # Color Variables
================================================== */

// Primary Colours
$primary-10: #EFF8FE;
$primary-20: #ABD4F5;
$primary-30: #63A2D8;
$primary-40: #3183C8;
$primary-50: #2368A2;
$primary-60: #1A4971;
$primary-70: #203D55;

// Neutral Scale
$neutral-10: #F8F9FA;
$neutral-20: #E1E7EC;
$neutral-30: #CFD6DE;
$neutral-40: #B8C4CF;
$neutral-50: #8895A7;
$neutral-60: #5F6C7A;
$neutral-70: #212A34;

// Neutral Colours 
$Light-Gray:  #F5F7FA; //#E6E9ED
// $Medium-Gray: #AAB2BD; //#CCD1D9
$Dark-Gray:   #434A54; //#656D78



// Accent Colours 


// Social Media Colours 
$behance:     #053eff;     
$dribbble:    #ea4c89;
$linkedin:    #007bb5;
$github:      #4078c0;
$medium:      #02b875;
$instagram:   #c32aa3;
$foursquare:  #FA4778;
$spotify:     #1ed760;
$twitter:     #1da1f2;
$pinterest:   #bd081c;
$current-role:   #E41421;