/* # Recent Work Styles
================================================== */

section.recent::before {
  content: "";
  position: absolute;
  top: -60px;
  height: 60px;
  width: 100%;
  background: url(../img/vector_recent.svg);
  // outline: 1px solid red;
}

section.recent {
  position: relative;
  background-color: #F9FBFD;

  .work-list {
    display: flex;
    flex-wrap: wrap;
  }

  .workcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    max-width: 100%;

    @media screen and (min-width: $tablet-width) {
      max-width: 50%;
    }

    .workcolumns {
      flex: 0 0 100%;
      max-width: 100%;
      box-sizing: border-box;
      
      &:first-child {
        margin-bottom: 32px;
      }

      &:second-child {
        margin-bottom: 32px;
      }
      
      @media screen and (min-width: $mobile-tablet) {
        max-width: 100%;
        padding: 0 16px;
      }

      &.image {
        order: -1;
        margin-bottom: 16px;

        @media screen and (min-width: $mobile-tablet) {
          order: -1;
        }

        img, .video {
          display: flex;
          border-radius: 16px;
          max-width: 100%;
          box-shadow: $shadow;
        }
        .video {
          display: flex;
          background: #F6D5E0;
          padding: 32px;
          align-items:center;
          video {
            max-height: 416px;
            width: 100%;
            margin: auto;

          }
        }
        .secondary_images {
          display: flex;
          flex-wrap: no-wrap;
          .image {
            flex-shrink:1;
            max-width: 50%;
            margin-top: $unit*4;  
            &:nth-child(odd) {
              margin-right: $unit*4;
            }     
          }
        }
      }
    }
    h4 {
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h2 {
      padding-right: $unit*8;
      margin-top: $unit*2;
    }
    
    .cta-link {
      a {
        color: #3973FF;
        font-weight: $normal;
        transition: all .1s ease-out;

        &:hover {
          border-bottom: none;
        }
      }
      &:hover {
        a {

        }
        span {
        margin-left: $unit*3;
        }
      }

      span {
        margin-left: $unit*2;
        color: #e03f7f;
        width: 22px;
        height: 16px;
        transition: all .1s ease-out;
      }
    }
    .link-subtitle {
        color: $neutral-50;
        font-size: $unit*3;
      }
    .description {
      p {
        padding-right: $unit*8;
        @media screen and (max-width: 600px) {
          padding-right: 0;
        }
      }
      .labels {
        display: flex;
        flex-wrap: wrap;
        margin-top: 12px;

        .avatar_brand {
          border-radius: 50%;
          display: inline-flex;
          height: 28px;
          margin: 0;
        }
      }
    }
  }
}