doctype html
html
  head
    title Shaun Byrne: Full Stack Product Designer
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
    meta(property="og:title" content="Shaun Byrne: Full Stack Product Designer")
    meta(property="og:description" content="The place to learn all the professionaly and personal things about Shaun Byrne.")
    meta(property="og:image" content="https://instagram.fmel1-1.fna.fbcdn.net/vp/ada2ccb068ff889a5de2c17018710579/5B459D54/t51.2885-15/e15/10956596_1538553869750341_2129848734_n.jpg")
    meta(property="og:url" content="https://www.shaunbyrne.com")
    meta(name="twitter:site" content="@byrnecore")
    link(rel='stylesheet', href='src/css/style.css')
    link(rel="icon" href="src/img/favicon.ico" type="image/x-icon")
    script(async src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
      
  body
    section.intro
      .container
        h1.intro Shaun Byrne 
        p.about Full stack product designer with 10+ years working in global digital product teams. I have proven track record in user research, lean UX, design thinking, data analysis and experimentation. 
        p.abount Currently designing the search UX at #[a.redbubble(href="http://www.redbubble.com") Redbubble] in Melb, 🇦🇺. 

        a.scroll(href="#begin") 👇🏻

    section.my-expereince#begin
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .container
              h1.reveal My Strengths
              p.reveal I've learnt many things over my career. Swipe through to learn some of the strengths I value the most. 
              .swipe 👉🏻

          .swiper-slide 
            .container
              h1 Proud Generalist
              p From generative research, through design, to wrangling code, I've done it to deliver the best outcome to the user. 
          .swiper-slide 
            .container
              h1 Naturally, I Design Things 
              p I've an inherit need to fulfill users needs with beautiful flows and journeys. I particularly enjoy doing it collaborativly with talented designers and product teams. 
          .swiper-slide 
            .container
              h1 Data Informed, <br />Fueled by Empathy
              p I value the entire spectrum of qualitative and quantitaitve data to make better decisions.  At heart of all of it though, is an empthy for the user. 
          .swiper-slide 
            .container
              h1 Team Player
              p Collective knowledge solves problems better. I prefer solving my problems with great humans around me, together. 
          .swiper-slide 
            .container
              h1 Bridger of Gaps
              p My broad skillset and end to end experience equips me to understand, contribute and communicate effectively to many roles and skillsets.
              
        .swiper-pagination
        
        .swiper-button-next
        .swiper-button-prev
    


    section.recommendations
      .container.reveal
        h1.reveal Kind Words
        blockquote
          img.avatar.reveal(src="https://media.licdn.com/dms/image/C4D03AQF0geOxNWHH0w/profile-displayphoto-shrink_800_800/0?e=1530356400&v=beta&t=nf55RyPP1T1eeH6-MzDMqtTEApHMvAtAcSfC9KxCtsQ" alt="Emy Alegre: UX Lead at Redbubble")
          .name.reveal 
            span.author Emy Alegre
            span.position UX Lead at Redbubble
          .quote.reveal
            p Shaun's a fantastic product designer, highly conceptual and detail oriented. He's a unique hybrid with many years of experience working with qualitative and quantitative data, gathering and analyzing customer insights, and developing holistic customer experiences.
            p Shaun isn't just comfortable with engineers, data scientists and product managers, he's proactive in drawing them together to identify and create value for customers.
            p He brings a lot of energy to the team, and always has a positive and thankful attitude towards others. 
            

        blockquote
          img.avatar.reveal(src="https://media.licdn.com/dms/image/C4E03AQFimSdvq-mKDw/profile-displayphoto-shrink_800_800/0?e=1530280800&v=beta&t=V1A_dpuoFluX0uMo3_nA1_321BXYDCIO97PKm6qZXOY" alt="Siavash Shabanipour: Product Designer at iFlix")
          .name.reveal 
            span.author Siavash Shabanipour
            span.position Product Designer at iFlix
          .quote.reveal
            p Shaun’s the kind of guy you poke fun at him face to face but you talk highly of him behind his back. He’s easy going and has a great work attitude. He leaves his ego behind and instead puts forward insights from research and data when making decisions. He’s in the smaller majority of designers that go far beyond pixels and view product design holistically.
            

        blockquote
          img.avatar.reveal(src="https://media.licdn.com/dms/image/C5603AQH2F347GAjgSg/profile-displayphoto-shrink_800_800/0?e=1530352800&v=beta&t=qE59xcd1BqJ1fDKbFpDtcciHEC0PqlTgLjyoUhib-Gc" alt="James Mansfield: Former Head of UX at 99 Designs")
          .name.reveal 
            span.author James Mansfield
            span.position Former Head of UX at 99 Designs
          .quote.reveal
            p Shaun is a talented designer and a sincere team player. He’s a real asset with a broad skill set, from research through to prototyping, but it’s his humility that I really like. He constantly collaborates with the other designers at Redbubble, as well as within his product team, and broadens everyone's understanding of the problem they’re solving.
            p He’s also not afraid to jump in, take feedback from others and personally grow and learn from it and also raise the bar within the wider design team as well.
            

        blockquote
          img.avatar.reveal(src="https://media.licdn.com/dms/image/C5603AQH9qcCXpB_4dA/profile-displayphoto-shrink_800_800/0?e=1530352800&v=beta&t=tJke_ES36f3yTd045a8-PNdZ1JicV84w6BiNA1YIk30" alt="Joe Nguyen: iOS Developer at General Assembly")
          .name.reveal 
            span.author Joe Nguyen
            span.position iOS Developer at General Assembly
          .quote.reveal
            p Shaun truly has a knack for all things related to UX and design. He is able envision ideas and communicate them to all levels of a business. In various projects we've worked on, he is able to quickly demonstrate creative solutions to problems both in design and product.
            p Paired with his design prowess, Shaun has proven he can also lead and motivate a team. You feel on equal standing with him, as he is always willing to learn and loves feedback.
            p.reveal Most of all, Shaun's enthusiasm and passion for creating a positive experience in products is contagious and inspiring.
            

        a.button.reveal(href="https://www.linkedin.com/in/byrneshaun") 12 more on Linkedin


           
    section.contact
      .container.reveal
        h1.reveal Interested in a chat?
        p.reveal Currently I am focused on my role at #[a.redbubble(href="http://www.redbubble.com") Redbubble], but I always have time for a ☕️ or 💬. Get in contact if you want to learn more about me, my work, or you want really good Melbourne café suggestions. 
        a.button.reveal(href="mailto:byrnecore+portfolio@gmail.com") 👍🏻 Yep, let's chat

    section.social
      .container.reveal
        .social-profiles
          h1.reveal Learn more about me
          p.reveal To see what my life is about, here are all my social profiles 😱. You might even find some of my professional work too. 
          .links.reveal
            a.profile.behance(href='https://www.behance.net/shaunbyrne')
            a.profile.dribbble(href='https://dribbble.com/byrnecore')
            a.profile.linkedin(href='https://www.linkedin.com/in/byrneshaun')  
            a.profile.github(href='https://github.com/byrnecore')  
            a.profile.medium(href='https://medium.com/@byrnecore')  
            a.profile.instagram(href='http://instagram.com/byrnecore')  
            a.profile.spotify(href='https://open.spotify.com/user/1274498741')  
            a.profile.twitter(href='https://twitter.com/byrnecore')  
            a.profile.pinterest(href='https://www.pinterest.com.au/byrnecore/') 
            
    section.footer
      .container
        p Designed & built by #[a(href="#") Shaun Byrne] © 2017 | Melb , 🇦🇺, 🌏.



    script(src='https://code.jquery.com/jquery-3.2.0.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js')
    script(src='https://cferdinandi.github.io/smooth-scroll/dist/js/smooth-scroll.polyfills.min.js')
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-117998943-1")
    script(src='src/js/scripts.js')